benchmarks/**
data/fastq/**
data/download/**
data/clinical-data/**
data/sequencing-information/**
data/st-jude-data/**
results/**
logs/**
sandbox/**
archive/**
documents/**
tmp/
.snakemake/**
.Rhistory
*.Rdata
*.RData
*.Rda
*.RDa
.Rproj.user
.Rproj.user/**

