benchmarks/**
data/**
results/**
logs/**
dbm/glass-dbdump-20181004.sql
sandbox/**
archive/**
documents/**
tmp/
.snakemake/**
.Rhistory
*.Rdata
*.RData
*.Rda
*.RDa
.Rproj.user
.Rproj.user/**
.**
*.pyc
*.pyo
